/*******************************************************************************
Slate Theme for GitHub Pages
by Jason Costello, @jsncostello
*******************************************************************************/

/* Modified by Jake Hartz for use with the SerGIS Project */

@import url(normalize.css);
@import url(pygment_trac.css);

a.icon {
  display: inline-block;
  width: 20px;
  height: 20px;
  border: 1px solid #373737;
  border-radius: 5px;
  background-color: #fff;
  background-size: 16px;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  color: #222;
  float: right;
  margin: 2px;
}

a.icon:hover {
  background-color: #f2f2f2;
}

a.icon_edit {
  /* http://www.iconarchive.com/show/flatastic-1-icons-by-custom-icon-design/edit-icon.html */
  background-image: url(../images/edit-icon.png);
}

a.icon_delete {
  /* http://www.iconarchive.com/show/vista-artistic-icons-by-awicons/delete-icon.html */
  background-image: url(../images/delete-icon.png);
}

a.icon_up {
  /* http://www.iconarchive.com/show/flatastic-1-icons-by-custom-icon-design/up-icon.html */
  background-image: url(../images/up-icon.png);
  float: left;
  bottom: 10px;
  position: relative;
}

.row_content a.icon_up {
  left: -16px;
  bottom: 6px;
}

.row_choice a.icon_up {
  left: -10px;
}

a.icon_down {
  /* http://www.iconarchive.com/show/flatastic-1-icons-by-custom-icon-design/down-icon.html */
  background-image: url(../images/down-icon.png);
  float: left;
  position: relative;
  top: 12px;
  left: -24px;
}

.row_content a.icon_down {
  left: -40px;
  top: 16px;
}

.row_choice a.icon_down {
  left: -34px;
  top: 12px;
}

.row_content_text {
  text-indent: -36px;
}

.row_choice > div.row {
  text-indent: -30px;
}

.row_content_text code, .row_choice > div.row code {
  text-indent: 0;
}

.row_title {
  padding-top: 30px;
}

.row_title_index {
  margin-left: -20px;
}

code {
  display: inline-block;
  max-width: 200px;
  max-height: 10ex;
  overflow: hidden;
  text-overflow: ellipsis;
  word-wrap: break-word;
}

code.short {
  max-height: 6ex;
}

.invisible {
  visibility: hidden;
}

.cancel-button, .save-button {
  margin-right: 20px;
}

.save-button {
  font-weight: bold;
}

/* .inputcontainer is used to make a text input take up the rest of the width:
 * <div class="inputcontainer"><label></label><span><input></span></div>
 */

.inputcontainer {
  display: table;
  width: 100%;
}

.inputcontainer label {
  display: table-cell;
  width: 1px;
  white-space: nowrap;
}

.inputcontainer span {
  display: table-cell;
  padding: 0 0 0 5px
}

.inputcontainer input {
  width: 100%
}

/*******************************************************************************
Theme Styles
*******************************************************************************/

*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  color:#373737;
  background: #212121;
  font-size: 18px;
  font-family: 'Myriad Pro', Calibri, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

h1, h2, h3, h4, h5, h6 {
  margin: 10px 0;
  font-weight: 700;
  color:#222222;
  font-family: 'Lucida Grande', 'Calibri', Helvetica, Arial, sans-serif;
  letter-spacing: -1px;
}

h1 {
  font-size: 36px;
  font-weight: 700;
}

h2 {
  padding-bottom: 10px;
  font-size: 32px;
  background: url('../images/bg_hr.png') repeat-x bottom;
}

h3 {
  font-size: 24px;
}

h4 {
  font-size: 21px;
}

h5 {
  font-size: 18px;
}

h6 {
  font-size: 16px;
}

p {
  font-size: 18px;
  margin: 10px 0 15px 0;
}

footer p {
  color: #f2f2f2;
}

a {
  text-decoration: none;
  color: #007edf;
  text-shadow: none;
}

a:hover, a:focus {text-decoration: underline;}

footer a {
  color: #F2F2F2;
  text-decoration: underline;
}

em {
  font-style: italic;
}

strong {
  font-weight: bold;
}

img {
  position: relative;
  margin: 0 auto;
  max-width: 739px;
  padding: 5px;
  margin: 10px 0 10px 0;
  border: 1px solid #ebebeb;

  box-shadow: 0 0 5px #ebebeb;
  -webkit-box-shadow: 0 0 5px #ebebeb;
  -moz-box-shadow: 0 0 5px #ebebeb;
  -o-box-shadow: 0 0 5px #ebebeb;
  -ms-box-shadow: 0 0 5px #ebebeb;
}

p img {
  display: inline;
  margin: 0;
  padding: 0;
  vertical-align: middle;
  text-align: center;
  border: none;
}

pre, code {
  width: 100%;
  color: #222;
  background-color: #fff;

  font-family: Monaco, "Bitstream Vera Sans Mono", "Lucida Console", Terminal, monospace;
  font-size: 14px;

  border-radius: 2px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;

  box-shadow: 0 0 10px rgba(0,0,0,.1);
}

pre {
  padding: 10px;
  overflow: auto;
}

code {
  padding: 3px;
  margin: 0 3px;
}

pre code {
  display: block;
  box-shadow: none;
}

blockquote {
  color: #666;
  margin: 0 0 20px 2px;
  padding-left: 20px;
  border-left: 3px solid #bbb;
  font-style: italic;
}

ul, ol, dl {
  margin: 0 0 15px 0;
  padding-left: 20px;
}

dl dt {
  font-weight: bold;
}

dl dd {
  margin-left: 0;
  padding-left: 0;
  font-style: italic;
}

dl p {
  padding-left: 20px;
  font-style: italic;
}

hr {
  height: 1px;
  margin-bottom: 5px;
  border: none;
  background: url('../images/bg_hr.png') repeat-x center;
}

table {
  border: 1px solid #373737;
  margin-bottom: 20px;
  text-align: left;
}

th {
  font-family: 'Lucida Grande', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  padding: 10px;
  background: #373737;
  color: #fff;
  border: 1px solid black;
}

td {
  padding: 10px;
  border: 1px solid #373737;
  vertical-align: top;
}

tr.toprow td {
  border-top: 4px solid #373737;
}

table .minirow {
  border-top: 1px solid #373737;
  padding: 8px;
}

table .minirow:first-child {
  border-top: none;
}

table.noborder {
  border-style: none;
}

table.noborder th, table.noborder td {
  border-style: none;
  padding: 2px;
}

table.scrollFixed thead {
  position: fixed;
  top: 0;
  z-index: 1;
}

form {
  background: #f2f2f2;
  padding: 20px;
}

input[type=number] {
  width: 60px;
}

/*******************************************************************************
Full-Width Styles
*******************************************************************************/

.outer {
  width: 100%;
}

.inner {
  position: relative;
  max-width: 1200px;
  padding: 20px 10px;
  margin: 0 auto;
}

#header_wrap {
  background: #212121;
}

#header_wrap .inner {
  padding: 0;
}

#project_title {
  margin: 0;
  color: #fff;
  font-size: 42px;
  font-weight: 700;
  text-shadow: #111 0px 0px 10px;
}

#downloads {
  position: absolute;
  /* width: 210px; */
  z-index: 10;
  bottom: -20px;
  right: 0;
  height: 70px;
}

#downloads > a {
  display: block;
  float: right;
  width: 90px;
  height: 70px;
  padding-top: 68px;
  text-align: center;
}

#downloads > div {
  float: right;
  margin-top: 33px;
}

#downloads_save {
  background: url(../images/sprite.png) no-repeat top right;
  background-size: 200%;
}

#downloads_save:hover {
  background: url(../images/sprite.png) no-repeat bottom right;
  background-size: 200%;
}

#downloads_open {
  background: url(../images/sprite.png) no-repeat top left;
  background-size: 200%;
  margin-left: 10px;
}

#downloads_open:hover {
  background: url(../images/sprite.png) no-repeat bottom left;
  background-size: 200%;
}

#main_content_wrap {
  background: #f2f2f2;
  border-top: 1px solid #111;
  border-bottom: 1px solid #111;
}

#main_content {
  padding-top: 40px;
}

#footer_wrap {
  background: #212121;
}

.overlay_outer {
/*
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
*/
  background-color: rgba(33,33,33,0.9);
  z-index: 10;

    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -moz-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.overlay_inner {
  width: 90%;
  max-width: 1200px;
  background-color: #f2f2f2;
  margin: 0 auto;
  padding: 10px;
  border-radius: 8px;
  border: 1px solid rgb(33,33,33);
  max-height: 100%;
  overflow: auto;
}

.overlay_inner h2, .overlay_inner h3 {
  text-align: center;
}

.overlay_inner textarea {
  width: 100%;
}

/*
.overlay_outer > table {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  border-style: none;
}

.overlay_outer > table > tbody > tr > td {
  vertical-align: middle;
  margin: 0;
  padding: 0;
  border-style: none;
}
*/

/*******************************************************************************
Small Device Styles
*******************************************************************************/

table button, table label, table input, table select, table .minirow, table .row, table li {
  font-size: 80%;
}

@media screen and (max-width: 580px) {
  table button, table label, table input, table select, table .minirow, table .row, table li {
    font-size: 100%;
  }

  body {
    font-size:14px;
  }

  #downloads {
    /*display: none;*/
    bottom: -40px;
  }

  .inner {
    min-width: 320px;
    max-width: 480px;
  }

  #project_title {
    font-size: 32px;
  }

  h1 {
    font-size: 28px;
  }

  h2 {
    font-size: 24px;
  }

  h3 {
    font-size: 21px;
  }

  h4 {
    font-size: 18px;
  }

  h5 {
    font-size: 14px;
  }

  h6 {
    font-size: 12px;
  }

  code, pre {
    min-width: 320px;
    max-width: 480px;
    font-size: 11px;
  }
  
  .overlay_inner {
    min-width: 320px;
    max-width: 480px;
  }
}
